<div *ngIf='profile'>
  <div class="panel pane-default">
    <div class="panel-heading">
      {{profile.name}}
      <small>({{profile.login}})</small>
      <span *ngIf='profile.company'>, Works at {{profile.company}}</span>
      {{profile.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <img src="{{profile.avatar_url}}" class="img-responsive img-rounded" alt="avatar">
        </div>
        <div class="col-md-5">
          <ul class="list-group">
            <li class="list-group-items" *ngIf="profile.bio">{{profile.bio}}</li>
            <li class="list-group-items" *ngIf="profile.hireable"> Available for hire</li>
            <li class="list-group-items" *ngIf="profile.blog">{{profile.blog}}</li>
            <li class="list-group-items" *ngIf="profile.email">{{profile.email}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
